body {
    margin: 0px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #020202;
    border: 3px solid #020202;
}

#hero {
    background-image: url("img/faded-office.png");
    background-size: cover;
    padding: 5px 45px 70px 45px;
}

#title {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    font-size: 40px;
    width: 280px;
}

#description {
    font-weight: 500;
    width: 255px;
}

.btn {
    margin-top: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    padding: 5px 10px 5px 10px;
    background-color: #0ea5e9;
    color: white;
    width: 120px;
    height: 45px;
    border: none;
}

.underline {
    border-bottom: 5px solid #0ea5e9;
    
}